@import '../../../scss/_mixins';

$avatarSize: 200px;
$mediumSize: 700px;
$smallSize: 450px;
$bkgColor: #3367d6;

.hud {
	position: relative;
	height: $avatarSize + 60px;

	.hunter {
		.picWrapper {
			width: $avatarSize;
			height: $avatarSize;
			border:10px solid $bkgColor;
			border-radius: 50%;
			overflow: hidden;
			position: absolute;
			left: 20px;
			top: 20px;
			background: darken($bkgColor, 20);
		}
		.name{
			width: $avatarSize * .8;
			margin-left: $avatarSize * .2;
			text-align: center;
			background: black;
			background: rgba(0,0,0,.6);
			border-radius: 5px;
			position: absolute;
			top: 20px;
			font-size: 20px;
			padding: 10px 20px;
			.race {
				padding-right: 6px;
				opacity: .8;
			}
		}
	}

	> .wrapper {
		padding: 20px;
		padding-left: $avatarSize + 100px;
		box-sizing: border-box;
		background: $bkgColor;

		.filters {
			@media (max-width: $mediumSize){
				li.wrapper {
					display: block;
					width: 100%;
					margin-bottom: 6px;
					clear:both;
				}
			}
		}
		.stats {
			clear:both;
			float:none;
			margin-bottom: 10px;

			> li {
				display: inline-block;
				font-weight: normal;
				padding-right: 20px;
				span {
					vertical-align: middle;
				}
				.label {
					opacity: .8;
					margin-right: 10px;
				}
				.value {
					text-align: center;
					font-weight: bold;
				}

				@media (max-width: $mediumSize){
					display: block;
					width: 100%;
				}
			}
		}
		
		.goHunt {
			position: absolute;
			right: $avatarSize * .3;
			top: 110px;
			font-size: 20px;
			padding: 15px 20px ;

			@media (max-width: $mediumSize){
				top: auto;
				right: 20px;
				bottom: 20px;
			}
		}

	}	

	@media (max-width: $smallSize){
		height: auto;

		.hunter {
			background: $bkgColor;

			.picWrapper{
				position:relative;
				padding-bottom: 40px;
				height: 200px;
				@include hCenterElement(200px);
			}
			.name {
				@include hCenterElement(200px);
			}
		}

		> .wrapper {
			padding:20px;

			.goHunt{
				position: relative;
				bottom:0;
				@include hCenterElement(300px);
				margin-top: 20px;
				right:auto;
			}
		}
	}
}

